{
  "plugins": ["transform-object-rest-spread"],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 Chrome versions",
          "IE >= 11"
        ]
      },
      "corejs": "3.1",
      "useBuiltIns": "entry"
    }]
  ]
}
