/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
.sass-cache
Homestead.json
Homestead.yaml
.env
/database/database.sqlite
/npm-debug.log
/selenium-debug.log
/resources/assets/test/report
/resources/assets/test/screenshots