// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

/**
 * Transitions
 */
.fade-enter-active, .fade-leave-active{ transition: opacity .2s; }
.fade-enter, .fade-leave-active{ opacity: 0; }

/**
 * Helpers
 */
.middle{ width: 100%; height: 100%; display: table; }
.middle .middle-inner{ width: 100%; height: 100%; display: table-cell; vertical-align: middle; text-align: center; }
.embed-responsive-1by1{ padding-bottom: 100%; }
.no-gutter.row{ margin-left: 0; margin-right: 0; }
.no-gutter > [class*='col-']{ padding-right: 0; padding-left: 0; }
.margintop5{ margin-top: 5px; }
.margintop0{ margin-top: 0; }
.marginbot10{ margin-bottom: 10px; }
.marginpulltop15{ margin-top: -15px; }
.marginpulltop20{ margin-top: -20px; }
.marginright10{ margin-right: 10px; }
@media (max-width: $screen-sm-max){
   .input-group-stack-sm{ display: block; }
}

/**
 * Spinner
 */
.main-spinner{ visibility: hidden; opacity: 0; transition: opacity 0.3s 0.3s ease;
   position: fixed; z-index: 99999; top: 0; left: 0; right: 0; bottom: 0;
   background-color: rgba(255, 255, 255, 0.5);
}
.main-spinner.active{ visibility: visible; opacity: 1; }

/**
 * Tables
 */
.page-info{ display: inline-block; margin-right: 20px; }

/**
 * Fixes
 */
.input-group-btn:not(:first-child):not(:last-child) .btn{
   border-radius: 0;
}
.github-menu-item > iframe { margin-top: 10px; margin-left: 15px; }
